html
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

a
  color: #0775ff
  text-decoration: none

  &:hover
    text-decoration: underline

  &:active
    color: #0775ff

h1, h2, h3
  font-family: 'Lato', sans-serif
  margin: 0

h1
  font-size: 36px

h2
  font-size: 28px

ul, ol, p
  font-family: 'Noto Serif', serif
  font-size: 16px
  line-height: 26px
  opacity: 0.8
  margin: 14px 0

ul
  line-height: 30px

.page
  padding-left: 30px
  padding-right: 30px
  margin: auto
  max-width: 800px

.content
  padding-top: 30px
  padding-bottom: 24px
  min-height: calc(100vh - 54px - 60px)