
.navbar
  padding: 18px 0
  display: flex
  justify-content: space-between

  ul
    list-style-type: none
    margin: 0
    padding: 0

    li
      font-family: 'Lato', sans-serif
      font-size: 20px